body{
    background:beige;
}


.fakeimg {
    height: 200px;
    background: #aaa;
  }
.navbar-brand {
margin-left: 105px;

}

.jumbotron{
    padding:0px;
    margin-bottom: auto;
    background: grey;
    font: white;
}
